.input-error{
    display: flex;
    flex-direction: column;
    gap: 5px 0px 10px;

}

.input-error input{
    border: 1px solid red;
}

.mensaje_error{
    color: red;
}

.btn-enviar{
    margin-top: 10px;
}